.App {
  display: flex;
  flex-direction:column;
}
.Header{
  background-color: #FEBBCC;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  padding-right: 300px;
  }
.Header h2{
  font-size: 45px;
  color: #322653;
}


@media screen and (max-width:900px) {
  .Header{   
    height: 8vh;
    align-items: center;
    justify-content:center;
    padding-right: 0;
  }
 
}